<% if current_user %>
  <div>Welcome <%=  current_user.name %></div>
  <div><%= link_to 'Sign out!', '/signout' %></div>

<% else %>
  <div><%= link_to 'Sign In With GitHub', '/auth/github' %><div>
<% end %>
